<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Cadastre-se
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form">
              <ion-list>
                <ic-input-text [id]="nameName"
                               [form]="form"
                               [name]="nameName"
                               [minlength]="6"
                               [required]="true"
                               placeholder="Nome">
                </ic-input-text>

                <ic-input-text [id]="nameUsername"
                               [form]="form"
                               [name]="nameUsername"
                               [minlength]="6"
                               [required]="true"
                               placeholder="Usuário">
                </ic-input-text>

                <ic-input-text [id]="namePassword"
                               [form]="form"
                               [name]="namePassword"
                               [minlength]="6"
                               [required]="true"
                               placeholder="Senha"
                               [type]="passwordType">
                </ic-input-text>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
        <p>
          <ion-button color="primary" 
                      shape="round" 
                      fill="outline"
                      size="large"
                      expand="full"
                      [disabled]="form.invalid"
                      (click)="submit()">
            CADASTRAR
          </ion-button>
          <br>
          <ion-button color="danger" 
                      shape="round" 
                      fill="outline"
                      size="large"
                      expand="full"
                      routerLink="/login">
            CANCELAR
          </ion-button>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
