<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ title }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form">
              <ion-list>
                <ic-input-text [id]="nameName"
                               [form]="form"
                               [name]="nameName"
                               [minlength]="3"
                               [required]="true"
                               placeholder="Nome">
                </ic-input-text>

                <ic-input-text [id]="nameEmail"
                               [form]="form"
                               [name]="nameEmail"
                               [minlength]="6"
                               placeholder="E-mail"
                               emailValidate="true">
                </ic-input-text>

                <ic-input-text [id]="nameCpf"
                               [form]="form"
                               [name]="nameCpf"
                               mask="###.###.###-##"
                               placeholder="CPF">
                </ic-input-text>

                <ic-input-text [id]="namePhone"
                               [form]="form"
                               [name]="namePhone"
                               [required]="true"
                               mask="(##) #####-####"
                               placeholder="Telefone">
                </ic-input-text>

                <ic-input-text [id]="address"
                               [form]="form"
                               [name]="address"
                               placeholder="Endereço completo">
                </ic-input-text>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
        <p>
          <ion-button color="primary" 
                      shape="round" 
                      fill="outline"
                      size="large"
                      expand="full"
                      [disabled]="form.invalid"
                      (click)="submit()">
            SALVAR
          </ion-button>
          <br>
          <ion-button color="danger" 
                      shape="round" 
                      fill="outline"
                      size="large"
                      expand="full"
                      routerLink="/">
            CANCELAR
          </ion-button>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
