<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Alterar senha
            </ion-card-title>
            <ion-card-subtitle>
              Nome: {{ user.name }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form">
              <ion-list>
                <ic-input-text [id]="nameOldPassword"
                               [form]="form"
                               [name]="nameOldPassword"
                               [minlength]="6"
                               [required]="true"
                               placeholder="Senha atual"
                               [type]="passwordType">
                </ic-input-text>

                <ic-input-text [id]="nameNewPassword"
                               [form]="form"
                               [name]="nameNewPassword"
                               [minlength]="6"
                               [required]="true"
                               placeholder="Nova senha"
                               [type]="passwordType">
                </ic-input-text>

                <ic-input-text [id]="nameConfirmPassword"
                               [form]="form"
                               [name]="nameConfirmPassword"
                               [minlength]="6"
                               [required]="true"
                               placeholder="Confirmar nova senha"
                               [type]="passwordType">
                </ic-input-text>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
        <p>
          <ion-button color="primary" 
                      shape="round" 
                      fill="outline"
                      size="large"
                      expand="full"
                      [disabled]="form.invalid"
                      (click)="submit()">
            SALVAR
          </ion-button>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>